<h1>User info</h1>
<table class = "table table-hover table-inverse">
  <tbody>
    <tr>
      <p><%= image_tag user.get_profile_image(100,100) %></p>
      <td>name</td>
      <td><%= user.name %></td>
    </tr>
    <tr>
      <td>Introduction</td>
      <td><%= user.introduction %></td>
    </tr>
  </tbody>
</table>