<h1>Users</h1>

<table class="table table-striped">

  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td>name:<%= user.name %></td>
      <td><%= link_to "show", user_path(user.id) %></td>
    </tr>
  <% end %>

  <%= render 'user_info', user: current_user %>
  <%= render 'books/new_book', book: @new_book %>
  </tbody>
</table>