<h1>New book</h1>
<div class="container">
 <div class="row">
    <table class="table table-striped">
      <%= form_with model: book do |f| %>
      <tbody>
        <tr>Title</tr>
        <%= f.text_field :title %>
        <tr>Opinion</tr>
        <%= f.text_field :body %>
        <%= f.submit 'Create book' %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
