<%= form_with model: @image do |f| %>

  <h4>Image</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>Introduction</h4>
    <%= f.text_area :caption %>
  <%= f.submit 'Update User' %>
<% end 